/* 
    Created on : 05-may-2017, 9:59:49
    Author     : mikel
*/
header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    background: url(../img/fondo3.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#cabecera {
    width: 100%;
    height: 50px;
}
#cabeceraFix {
    display: none;
    width: 100%;
    height: 50px;
    background: white;
    border-bottom: 1px solid #ebebeb;
    position: fixed;
    z-index: 10;
}
#cabeceraFix ul li{
    color: black;
}
#cabeceraFix ul li:hover {
    color: #D46A6A;
}
#contentRedes {
    height: 50px;
    padding-right: 25px;
    float: right;
}
#contentIdioma {
    float: right;
    height: 50px;
}
#contentTitPag {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 150px;
}
#contentBotones {
    width: 500px;
    margin: 80px auto;
    text-align: center;
}
/* CLASES */
.imgRedes {
    width: 35px;
    margin-top: 8px;
}
.imgIdioma {
    width: 20px;
    margin-top: 8px;
    margin-right: 8px;
}
.btnHeader {
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #D46A6A;
    margin: 10px 5px;
    color: #FFF;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btnHeader:hover {
    background: #FFAAAA;
}
h1.titPag {
    color: white;
    font-size: 6em;
    margin-bottom: 0px;
}
h4.subTitPag {
    color: whitesmoke;
    font-size: 1.5em;
    margin-top: 10px;
}
.ir-arriba {
    display:none;
    padding:20px;
    background: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: 100% ;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
}